Flask==3.0.3
pytesseract==0.3.10
Pillow==10.4.0
opencv-python==4.10.0.84
gunicorn==23.0.0
Werkzeug==3.0.4
python-dotenv==1.0.1
gTTS==2.5.4
celery==5.4.0
redis==5.2.0
py-espeak-ng==0.1.8
ffmpeg-python==0.2.0
